.main {
  background-color: #F1F1F1;
}

.post {
  background-color: #FFF;
}

.post__head-img {
  background-image: url("http://i.imgur.com/UTdqQ2w.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 50%;
  height: 400px;
}

.post__footer {
  background-color: #F7F7F7;
  padding: 20px 0;
}

.post__footer ul {
  text-align: center;
  padding: 0;
}

.post__footer li {
  list-style-type: none;
  display: inline;
  padding: 0 20px;
}

.sidebar__nav ul {
  padding: 0;
}

.sidebar__nav li {
  list-style-type: none;
  border-bottom: 1px solid #888;
}

.sidebar__nav li:last-child {
  border-bottom: 0;
}
